Mount drive.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import pandas.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb

**Import libraries to nuild neural network.**

In [3]:
# Import tensorflow and keras, which are important libraries to bulid the neural network
import tensorflow as tf
from tensorflow import keras as ks
from sklearn.model_selection import train_test_split

# Import other functions and components to build the neural network
from keras.models import Sequential
from keras.layers import Dense, Activation, BatchNormalization, Dropout
from keras import optimizers

import weather dataset.

In [4]:
df = pd.read_csv('/content/drive/MyDrive/WoC\'23/Checkpoint 7/weather.csv')
df = pd.DataFrame(df)
df

      precipitation  temp_max  temp_min  wind  weather
0               0.0      12.8       5.0   4.7  drizzle
1              10.9      10.6       2.8   4.5     rain
2               0.8      11.7       7.2   2.3     rain
3              20.3      12.2       5.6   4.7     rain
4               1.3       8.9       2.8   6.1     rain
...             ...       ...       ...   ...      ...
1456            8.6       4.4       1.7   2.9     rain
1457            1.5       5.0       1.7   1.3     rain
1458            0.0       7.2       0.6   2.6      fog
1459            0.0       5.6      -1.0   3.4      sun
1460            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

Get the number of rows with null values.

In [5]:
df.isna().sum(axis=0)

precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

Make input and output columns.

In [6]:
input = df[df.columns[:4]]
output = df['weather']

In [7]:
from sklearn.preprocessing import LabelEncoder
trial = LabelEncoder()
output = trial.fit_transform(output)
output

array([0, 2, 2, ..., 1, 4, 4])

Split the data into to parts for training and testing.

In [8]:
from sklearn.model_selection import train_test_split

In [92]:
x_train, x_test, y_train, y_test = train_test_split(input, output, test_size=0.2)

In [65]:
print("x_train dimension: ", x_train.shape)
print("x_test dimension: ", x_test.shape)
print("y_train dimension: ", y_train.shape)
print("y_test dimension: ", y_test.shape)

x_train dimension:  (1168, 4)
x_test dimension:  (293, 4)
y_train dimension:  (1168,)
y_test dimension:  (293,)

Make the layers for neural network.

**Using linear activation**

In [66]:
model1 = Sequential([
    Dense(100, input_shape=(4,), activation='relu'),
    Dense(125, activation='relu'),
    Dense(100, activation='relu'),
    Dense(50, activation='relu'),
    Dense(25, activation='relu'),
    Dense(5, activation='linear')
])

In [67]:
model1.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_48 (Dense)            (None, 100)               500

 dense_49 (Dense)            (None, 125)               12625

 dense_50 (Dense)            (None, 100)               12600

 dense_51 (Dense)            (None, 50)                5050

 dense_52 (Dense)            (None, 25)                1275

 dense_53 (Dense)            (None, 5)                 130

=================================================================
Total params: 32,180
Trainable params: 32,180
Non-trainable params: 0
_________________________________________________________________

In [68]:
model1.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [69]:
model1.fit(x_train, y_train, epochs=100, batch_size=100, verbose=0)

In [70]:
_,accuracy = model1.evaluate(x_test, y_test)

10/10 [==============================] - 0s 2ms/step - loss: 1.6094 - accuracy: 0.2184

In [71]:
print("Model1 accuracy: ", accuracy*100, "%")

Model1 accuracy:  21.84300273656845 %

**Softmax without adam optimazation**

In [99]:
model2 = Sequential([
    Dense(100, input_shape=(4,), activation='relu'),
    Dense(125, activation='relu'),
    Dense(100, activation='relu'),
    Dense(50, activation='relu'),
    Dense(25, activation='relu'),
    Dense(5, activation='softmax')
])

In [100]:
model2.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_78 (Dense)            (None, 100)               500

 dense_79 (Dense)            (None, 125)               12625

 dense_80 (Dense)            (None, 100)               12600

 dense_81 (Dense)            (None, 50)                5050

 dense_82 (Dense)            (None, 25)                1275

 dense_83 (Dense)            (None, 5)                 130

=================================================================
Total params: 32,180
Trainable params: 32,180
Non-trainable params: 0
_________________________________________________________________

In [101]:
model2.compile(loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [102]:
model2.fit(x_train, y_train, epochs=100, batch_size=100, verbose=0)

Getting model accuracy.

In [103]:
_,accuracy = model2.evaluate(x_test, y_test)

10/10 [==============================] - 0s 2ms/step - loss: 0.5645 - accuracy: 0.8225

In [104]:
print("Model2 accuracy: ", accuracy*100, "%")

Model2 accuracy:  82.25256204605103 %

**Softmax implementation with adam optimazation**

In [93]:
model3 = Sequential([
    Dense(100, input_shape=(4,), activation='relu'),
    Dense(125, activation='relu'),
    Dense(100, activation='relu'),
    Dense(50, activation='relu'),
    Dense(25, activation='relu'),
    Dense(5, activation='softmax')
])

In [94]:
model3.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_72 (Dense)            (None, 100)               500

 dense_73 (Dense)            (None, 125)               12625

 dense_74 (Dense)            (None, 100)               12600

 dense_75 (Dense)            (None, 50)                5050

 dense_76 (Dense)            (None, 25)                1275

 dense_77 (Dense)            (None, 5)                 130

=================================================================
Total params: 32,180
Trainable params: 32,180
Non-trainable params: 0
_________________________________________________________________

In [95]:
model3.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [96]:
model3.fit(x_train, y_train, epochs=100, batch_size=100, verbose=0)

In [97]:
_,accuracy = model3.evaluate(x_test, y_test)

10/10 [==============================] - 0s 2ms/step - loss: 0.5599 - accuracy: 0.8259

In [98]:
print("Model3 accuracy: ", accuracy*100, "%")

Model3 accuracy:  82.59385824203491 %